<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <div class="navbar-header m-1">
      <a
      style="cursor: pointer"
      routerLink="/app"
      class="navbar-brand">JuKoyuin</a>
    </div>
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/app/caesar" class="nav-link">Caesar</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/app/playfair" class="nav-link">Playfair</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/app/hill" class="nav-link">Hill</a>
      </li>
    </ul>
</nav>
