<div class="row my-1">
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-secondary btn-block"
      (click)="switchTab('info')">Info</button>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-success btn-block"
      (click)="switchTab('encript')">Encript</button>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-warning btn-block"
      (click)="switchTab('decript')">Decript</button>
  </div>
</div>
