<div class="row my-1">
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-secondary btn-block"
      (click)="switchTab('info')">Info</button>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-success btn-block"
      (click)="switchTab('encript')">Encript</button>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-warning btn-block"
      (click)="switchTab('decript')">Decript</button>
  </div>
</div>
  <form
    *ngIf="tab != 'info'"
    [formGroup]="cipherForm"
    (ngSubmit)="onSubmitForm()">
    <div class="list-group-item clearfix bg-danger">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label
              id="textLabel"
              class="badge badge-pill badge-dark"
              for="text">
              {{ tab == 'encript' ? 'Open Text:' : 'Cipher:' }}
            </label> &nbsp;
            <textarea
              id="text"
              cols="50" rows="10"
              formControlName="text"
              ></textarea>
          </div>
        </div>
        <div class="col-xs-12 offset-1">
          <div class="form-group">
            <label
              class="badge badge-pill badge-dark"
              for="shift">
              shift:
            </label> &nbsp;
            <input
              type="number"
              id="shift"
              formControlName="shift">
            <br>
            <label
              class="badge badge-pill badge-dark mt-3"
              id="textLabel"
              for="alphabet">
              alphabet:
            </label> &nbsp;
            <textarea
              id="alphabet"
              cols="20" rows="6"
              class="mt-3"
              formControlName="alphabet"
              ></textarea>
              <br>
              <button
                type="submit"
                class="btn btn-outline-warning mt-1">
                {{ tab | uppercase }}
              </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div
    *ngIf="result && tab != 'info'"
    class="container">
    <span class="badge badge-pill badge-dark mt-3">
      Result:
    </span> &nbsp;
    <span>{{ textResult }}</span>
  </div>
  <div
    *ngIf="tab == 'info'"
    class="d-flex justify-content-center">
    <div class="card w-75 m-3 text-white bg-secondary align-middle">
      <h4 class="jumbotron text-secondary" style="text-align: center;">
        Caesar Cipher
      </h4>
      <h6 class="mx-3">
        This is a substitution cipher.
        <br>
        The alphabet is being shifted in a circular way mapping the letters to their cipher letter.
        <br><br>
        <u>Encription:</u>
        <br>
        &nbsp;- open text, shift and an alphabet are input <br>
        &nbsp;- open text should contain only the letters from provided alphabet, can contain spaces, no other punctuation (unless in alphabet) <br>
        &nbsp;- alphabet shouldn't have repeating letters <br>
        &nbsp;- output is the cipher<br>
        <br>
        <u>Decription:</u>
        <br>
        &nbsp;- encrypted text, shift and an alphabet are input <br>
        &nbsp;- encrypted text should contain only the letters from provided alphabet, can contain spaces, no other punctuation (unless in alphabet) <br>
        &nbsp;- alphabet shouldn't have repeating letters <br>
        &nbsp;- output is the open text <br>
      </h6>
    </div>
  </div>


