/* You can add global styles to this file, and also import other style files */
body {
  background-color: cornflowerblue;
  font-weight: bold;
}

#textLabel {
  vertical-align: top;
}

input, textarea {
  background-color: orange;
}

input:focus, textarea:focus {
  background-color: darkcyan;
}
