<div
  class="d-flex justify-content-center">
  <div class="card w-100 m-3 text-light bg-danger">
    <h1 class="jumbotron text-danger font-weight-bold" style="text-align: center;">
      JuKoyuin - encrypt and decrypt with ease!
    </h1>
    <div class="row mx-3 text-center">
      <div class="col-md-4">
        <h1 id="title" class="text-primary font-weight-bold" routerLink="/app/caesar">
          Caesar
        </h1>
      </div>
      <div class="col-md-4">
        <h1 id="title" class="text-success font-weight-bold" routerLink="/app/playfair">
          Playfair
        </h1>
      </div>
      <div class="col-md-4">
        <h1 id="title" class="text-warning font-weight-bold" routerLink="/app/hill">
          Hill
        </h1>
      </div>
    </div>

  </div>
</div>
